.bigRed{
    background-color: red;
    color: white;
}
.centered{
    text-align: center;
    margin: 10%;
}

.bigBlue{
    background-color: blue;
    color: white;
}
.centered{
    text-align: center;
    margin: 10%;
}